.shiny-input-container input{
 display: inline-block;
}

.col-sm-4 {
  max-width: 350px;
  min-width: 350px;
}

.well .col-sm-4{
  min-width: 0px;
}

.shiny-input-container >label{
  padding-top: 4px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.well .col-sm-6 .shiny-input-container label {
  width: 70px;
}

.well .col-sm-6 .shiny-input-container input{
  width: 70px;
  margin-right: -30px;
}

.well .col-sm-4 .shiny-input-radiogroup{
  margin-left: 20px;
  margin-top: -15px;
}

.well .col-sm-5 .shiny-input-container label{
  width: 30px;
  margin-right: 2px;
}

.well .col-sm-5 .shiny-input-container input{
  width: 70px;
  margin-right: -20px;
}

.well .col-sm-7 .shiny-input-container input{
  width: 70px;
  margin-right: -10px;
}

.tab-pane .col-sm-4 input{
  width: 80px;
}

.tab-pane .col-sm-4 label{
  width: 70px;
}

.tab-pane .col-sm-4{
  margin-right: -150px;
}